[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
gradio = "==4.41.0"
langchain = "==0.2.12"
langchain-community = "==0.2.11"
langchain-core = "==0.2.29"
langchain-mongodb = "==0.1.8"
langchain-upstage = "==0.1.7"
langgraph = "==0.2.3"
llama-index = "==0.10.64"
pydantic = "==2.8.2"
pymongo = "==4.8.0"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.12"
